/*================ HEADER ===============*/

#header{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 500;
    width: 100%;
    height: 80px;
    background-color: forestgreen;
}

#header img{
    display: block;
    margin: auto;      
    padding-top: px;
    height: 100%; 
}

/*================ TOP-TABS ===============*/

#top{
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 60px;
    background-color: forestgreen;
}

#top a{
    float: left;
    display: block;
    width: 33%;
    height: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
}

/*================ MAIN ===============*/

#main{
    margin-top: 120px;
    }

    /*================ BOTTOM-TABS ===============*/

#bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 500;
    width: 100%;
    height: 40px;
    background-color: forestgreen;
}

#bottom a{
    float: left;
    display: block;
    width: 50%;
    height: 35px;
    font-weight: 700;
    color: white;
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
}

body{
    background-color: forestgreen;
}