

ul{
    list-style-image: url('images/pointer-icon.png');
}

ol{
    list-style-type: upper-roman;
}

#menu-bar a{
    text-decoration: none;
    font-family: helvetica, sans-serif;
    background-color: red;
    padding: 5px;
}

#menu-bar a:hover{
    background-color: aqua;
    color: #ffffff;
}

*{
    text-align: center;


    
}

.top{

background-color: cadetblue;
}


.bgImage{

    background: url("images/dogbackground.jpg") center no-repeat;
    color: white;
    text-align: center;
    padding: 10px;
}